.footer {
    height: 220px;
    background-color: #111E2A;
}

.footer_info {
    .info {
        display: inline-block !important;
        margin-left: 2.5em;
    }

    .info_list {
        list-style-type: none;

        li {
            margin-top: .7em;
        }
    }
}


.footer_social {
    .social_list {
        list-style-type: none;
        position: relative;
        left: 50%;

        li {
            display: inline-block;
            margin-top: .7em;
            margin: 12.5px;
        }

        .social_btn {
            img {
                width: 50px;
            }
        }
    }
}