.main {
    height: 440px;
    background: #292929;
    background-image: url("../assets/main-background.png");
}

.popular {
    height: 795px;
    background: #111E2A;
}

.recommended {
    background: #212D38;
    height: 1300px;
}