.main {
    margin-top: 101px;
    height: 440px;
    background: #292929;
    background-image: url("../assets/main-background.png");
}

.main_content {
    div {
        margin: auto;
        width: 50%;
    }
}

.main_text {
    font-size: 32px;
    p {
        text-align: center;
    }
}

.main_buttons {
    margin-top: 50px !important;
    text-align: center;

    button {
        width: 300px;
        border-radius: 100px !important;
        color: #4488D2 !important;
        margin-left: 15px !important;
        background-color: transparent !important;
        border: 3px solid #4488D2 !important;
    }

    button:hover {
        background: linear-gradient(#4FC3F7,#3949AB) !important;
        color: #fff !important;
    }
}

.main_submenu-heading {
    padding: 7.5px 5px;
    border-bottom: 2px solid #4FC3F7;
    width: fit-content;
}

.popular {
    height: 795px;
    background: #111E2A;
    width: 100%;

    .popular_menu {
        padding: 10px 5%;
    }

    .popular_menu-items {
        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            margin: 10px 10px 10px 10px;
            display: inline-block;
        }
    }

    .popular_menu-icon {
        width: 65px;
    }

    .popular_menu-icon--selected {
        svg {
            stroke: #4488D2 !important;
             fill: #4488D2 !important;
        }
    }


    .popular_carousel {
        padding: 20px;
        
        .item-card {
            display: inline-block;
        }
    }
}

.recommended {
    background: #212D38;
    height: 1300px;
    width: 100%;

    .recommended_heading {
     padding: 10px 5%;
    }

   .recommended_container {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-evenly;
   }
}