@import '../styles/index.scss';

.menubar {
    padding: 0 80px !important; 
    height: 101px;
    background-color: #111E2A;

    position: fixed !important;
    z-index: 100 !important;
    top: 0;
    left: 0;
}

.menubar_left {
    color: white;

    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        margin: 0 10px;
    }
    padding-right: 10px !important;

    .menubar_dropdown {
        .text {
            color: #46A2D0;
        }

        .dropdown.icon {
            color: #46A2D0;
        }

        .menu.transition.visible {
            background: rgba(68,136,210, 0.4);
        }

        .item {
            * {
                color: #fff;
            }
        }
    }
}

.menubar_main {
    flex-shrink: 4;
}


.menubar_right {
    .menubar_unauthorized {
        display: flex;
        justify-content: flex-end;
    }

    .menubar_button {
        width: 200px;
        height: 50px;
        border-radius: 100px;
    }

    .menubar_button:hover {
        background: linear-gradient(#4FC3F7, #3949AB) !important;
        color: #FFF;
    }

    .menubar_button:focus {
        background: linear-gradient(#4FC3F7, #3949AB) !important;
        color: #FFF;
    }

    .menubar_button--get-started {
        margin-left: 15px;
        background: linear-gradient(#4FC3F7,#3949AB);
        color: white;
    }  

    .menubar_button--login {
        color: #4488D2;
        margin-left: 15px;
        background-color: transparent;
        border: 3px solid #4488D2;
    }   

    
}
