.popular-game-card {
    height: 260px;
    width: 460px;
    background: linear-gradient(#4FC3F7, #3949AB);
    border-radius: 20px;
    
    overflow: visible;
    position: relative;
    bottom: 0;
}

.popular-game-card_title {
    font-size: 34px;
    width: 180px;

    position: absolute;
    bottom: 50px;
    left: 10%;

    // z-index: 2;
}

.popular-game-card_avatar {
    position: absolute;
    bottom: -45px;
    right: -70px;

    height: 435px;
}