.search-field {
    input {
        background: #26292E !important;
        color: #4AA9E7 !important;
    }

    .ui.icon.input {
        width: 80%;
    }

    ::placeholder {
        color: #4AA9E7 !important;
    }

    .search.icon {
        color: #4AA9E7 !important;
    }
}