$color-primary: #4FC3F7;
$color-secondary: #fff;

// Background colors
$color-bg-primary: #111E2A;
$color-bg-secondary: #212D38;

// Button colors
$color-btn-primary: linear-gradient(#4FC3F7, #3949AB);
$color-btn-secondary: #111E2A;
$color-btn-border: #707070;

// Text color
$color-text-primary: #46A2D0;

// Border colors
$color-border-secondary: #4488D2;