.chat-icon {
    background: #23b231 !important;
    border-radius: 100px !important;
    padding: 15px !important;

    position: absolute !important;
    right: 25px !important;
    bottom: 0px !important;
}