.auth-modal {
    background: #232F3A !important;
    padding: 35px 100px;
    
    // width: 50% !important;

    border-radius: 10px !important;
    top: 10% !important;
}

.login-modal {

}

.login-modal_header {
    margin: 0 auto 30px auto;
    width: 50%;
    text-align: center;

    font-size: 30px;

    h2 {
        color: #4FC3F7 !important;
        font-weight: normal;
    }
}

.login-modal_input {
    display: flex;
    
    flex-direction: column;
    text-align: center;

    padding: 20px;

    input {
        height: 70px;
        background: #111E2A !important;
        color: #4FC3F7 !important;

        font-size: 18px;

        border-radius: 30px !important;
        padding-left: 20px !important;
    }

    ::placeholder {
        color: #4FC3F7 !important;
        padding-left: 10px;
        font-size: 18px;
    }
}

.login-modal_reset-password {
    text-decoration: underline;
    color: #4FC3F7;
}

.login-modal_options {
    display: flex;
    justify-content: space-between;
    
    padding: 10px 25px;
}

.login-modal_keep-logged {
   
    label {
        color: #fff !important;
    }

    label::before {
        background: transparent !important;
        border-color: #4FC3F7 !important;
    }

    label::after {
        color: #4FC3F7 !important;
    }
}

.login-modal_submit {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;

    display: flex;
    flex-direction: column;


    button {
        height: 65px;
        border-radius: 100px !important;
        margin: 0 !important;
        padding: 0 !important;
        
        color: #fff !important;
        background: linear-gradient(#4FC3F7, #3949AB) !important;

        font-weight: normal !important;        
        font-size: 19px !important;        
    }

    span {
        margin: 40px 0 0 20px;
    }
}